header {
    text-align: center;
}

header h1 {
    color: white;
}
header p {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

body {
    background-image: linear-gradient(green, black);
}



.card{
    background-image: linear-gradient(green, black);

    border: 5px dashed black;
    flex: 1 0 20%;
    margin: 3%;
    position: relative;
    
}

.card pre{
    background-color: rgb(138, 204, 144);
    border-radius: 10px;
}

.card p {
    margin: 10% 2%;
    color: white;
}

.card h2 {
    color: white;
    border: 5px solid black;
    position: relative;
    margin-top: -40px;
    font-size: 150%;
    border-radius: 8px;
    transition: all 0.5s ease-in out;
    width: 70%;
    margin-left: 50px;
    background-image: linear-gradient(green,black)
}

.card h2:hover {
    box-shadow: inset 0px 0px 20px rgb(138, 213, 162), 0 0 15px
    rgb(159, 221, 141);
    
}

